body{
    margin: 0;
    padding: 0;
    background-image: url('../images/neighborhood.jpg');
    background-position: center;
    box-sizing: border-box;
    border-right: 50px solid rgb(0, 74, 173);
    border-left:  50px solid rgb(0, 74, 173);
    min-height: 100vw;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
h1 img {
    margin: 0;
    padding: 0;
    width : 10em;
    height: auto;
}

h2 p {
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5em;
    background-color: solid black;
}

.columns {
    columns: 2;
}

.columns p {
    margin-top: 0;
}



h3 {
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    margin-top: 0em;
}

h3 p {
    text-align:center;
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
}

h4 {
    text-align: center;
    font-size: 2em;
}

h4 p{
    text-align: center;
    font-size: 1.25rem;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
}

p {
    text-align: left;
    font-size: 1.3em;
    margin-top: 0rem;
    margin-left: 10em;
    margin-right: 10em;
    font-weight: bold;
    text-decoration: none;
    line-height: 2rem;
}

.button {
    appearance: button;
    backface-visibility: hidden;
    background-color: rgb(0, 74, 173);
    border-radius: 6px;
    border-width: 1;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: content-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0 20px;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
  }
  
  .button:disabled {
    cursor: default;
  }
  
  .button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

