body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border-right: 50px solid rgb(0, 0, 158);
    border-left:  50px solid rgb(0, 0, 158);
    min-height: 100vw;
}

h1 {
    margin-top: 0;
    padding: 0;
    text-align: center;
}
h1 img {
    margin: 0;
    padding: 0;
    width : 10em;
    height: auto;     
}

h2 p {
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5em;
    background-color: solid black;
}

.columns {
    columns: 2;
}

.columns p {
    margin-top: 0;
}

p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
}

p{
    text-align: left;
    font-size: 1.2em;
    margin-left: 5em;
    margin-right: 5em;
    text-decoration: none;
}