body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border-right: 50px solid rgb(0, 74, 173);
    border-left:  50px solid rgb(0, 74, 173);
    min-height: 100vw;
}

h1 {
    margin-top: 0;
    padding: 0;
    text-align: center;
}
h1 img {
    margin: 0;
    padding: 0;
    width : 10em;
    height: auto;     
}


.columns {
    columns: 3;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 1em 5em;
}



/*CART ICON*/
.icon img {
    width: 10em; /* adjust size as needed */
    cursor: pointer;
}
.icon-search img{
    width: 18em; /* adjust size as needed */
    height: auto;
    cursor: pointer;
}
.icon-search p {
    margin: 0.3em 0 0;
    font-size: 2em;
    color: #333;
}
.icon p {
    margin: 0.3em 0 0;
    font-size: 2em;
    color: #333;
}
.create-listing p {
    margin: 0;
    font-size: 1.2rem;
}











h2 p {
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5em;
    background-color: solid black;
}



p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
}

p{
    text-align: center;
    font-size: 1.2em;
    margin-left: 5em;
    margin-right: 5em;
    text-decoration: none;

}