<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/airhome-empty.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutUs.css') }}">
    <title>AirHome Home</title>
</head>

<body>  
    <h1>
        <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/airhome-empty.png') }}" alt="AirHome Logo">
        </a>
    </h1>   
   <h3><p>About Us </p></h3>
    <h4><p>Authors:<br>
            Leiss Amini,
            Eduardo Melendez,
            Chris Saran,
            Linh Tran,
            Brian Williams
        </p>

    <p>
        For travelers seeking a place to stay during vacations or events,
        Airhome offers a smart solution for finding the perfect home. Users
        can filter listings by price--from lowest to highest--making it easy
        to discover recommended properties that suit their needs. Unlike other
        rental platforms that charge excessive fees, AirHome provides affordable rates,
        flexible options, and a user-friendly interface.
    </p>
</h4>

    <h2 class="columns">
        <!-- Updated links to use 'url_for' with correct routes -->
        <p><a href="{{ url_for('home') }}"><button class="button" >Go Back</button></a></p>
    </h2>
</body>
</html>