<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/airhome-empty.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createListing.css') }}">
    <title>AirHome Home</title>
</head>

<body>  
    
    <!-- Icon has link to homepage -->
    <h1>
        <a href="{{ url_for('user') }}">
        <img src="{{ url_for('static', filename='images/airhome-empty.png') }}" alt="AirHome Logo">
        </a>
    </h1>  

    <p>Hello, {{ username }}!</p>
    
    <!-- Flash Messages-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}



    <!-- Go Back Button-->
    <a href="{{ url_for('user') }}">
        <p>Go Back </p>
    </a>

    
    <!-- Listing Form -->
    <p> Allowed: File types: png, jpg, jpeg, gif</p>
    <form action="{{ url_for('createListing') }}" method="POST" enctype="multipart/form-data" style="text-align:center; margin-top: 2em;">
       
    <!-- Upload Image -->   
    <div>
        <label for="image">Upload Image:</label><br>
        <input type="file" id="image" name="image" accept="image/*" onchange="previewImage(event)">
    </div><br>

    <!-- Image Preview -->
    <div>
        <img id="preview" src="#" alt="Image Preview" style="display: none; max-width: 300px; margin: 1em auto;">
    </div>

    <!-- text entry box for Address -->
    <div>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" required style="width: 300px; padding: 0.5em;">
    </div><br>


    <!-- text entry box for Price -->
    <div>
        <label for="price">Price Per Day:</label><br>
        <input type="text" id="price" name="price" required style="width: 300px; padding: 0.5em;">
    </div><br>


    <!-- submit button -->
    <button type="submit">Submit Listing</button>

</form>




<!-- Image Preview Script-->
    <script>
        function previewImage(event) {
            const preview = document.getElementById('preview');
            preview.src = URL.createObjectURL(event.target.files[0]);
            preview.style.display = 'block';
        }
    </script>






</body>
</html>