<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/airhome-empty.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <title>AirHome Home</title>
</head>

<body>  
    <h1>
        <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/airhome-empty.png') }}" alt="AirHome Logo">
        </a>
    </h1>   

    <h3 class="columns">
        <!-- Updated links to use 'url_for' with correct routes -->
        <p><a href="{{ url_for('aboutUs') }}"><button class="button" >About Us</button></a></p>
    </h3>
    
    <h2 class="columns">
        <!-- Updated links to use 'url_for' with correct routes -->
        <p><a href="{{ url_for('login') }}">
            <button class="button" >Login/Create Account</button>
        </a></p>
        <p><a href="{{ url_for('search') }}"><button class="button" >Search</button></a></p>
    </h2>

</body>
</html>