<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/airhome-empty.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seachpage.css') }}">
    <title>AirHome Search</title>
</head>

<body>  
    <h1>
        <img src="{{ url_for('static', filename='images/airhome-empty.png') }}" alt="AirHome Logo">
    </h1>   
    <h2 class="columns">
        <!-- Updated link to use 'url_for' for the home page -->
        <p><a href="{{ url_for('home') }}">Home</a></p>
    </h2>
    <p>
        Search page
    </p>
</body>
</html>