<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/airhome-empty.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}">
    <title>AirHome Home</title>
</head>

<body>  
    <!-- Icon has link to homepage -->
    <h1>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/airhome-empty.png') }}" alt="AirHome Logo">
        </a>
    </h1>   

    <p>Hello, {{ username }}!</p>
    
<!-- 2 icons on screen -->
<div class="columns">
    <div class="icon">
        <a href="{{ url_for('createListing') }}">
            <img src="{{ url_for('static', filename='images/createListing.png') }}" alt="listing">
        </a>
        <p>Create Listing</p>

    </div>

    <div class="icon-search">
        <a href="{{ url_for('search') }}">
            <img src="{{ url_for('static', filename='images/search.png') }}" alt="search">
        </a>
        <p>Search</p>
    </div>

    <div class="icon">
        <a href="{{ url_for('cart') }}">
            <img src="{{ url_for('static', filename='images/cart.png') }}" alt="cart">
        </a>
        <p>Go to Cart</p>
    </div>


    
</div>

</body>
</html>